<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xxxxx</title>
    <link rel="stylesheet" href="../js/index.css">
    <script src="../js/vue.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
<div id="app">

    <!--<el-tabs type="border-card">-->
        <!--<el-tab-pane label="用户管理">用户管理</el-tab-pane>-->
        <!--<el-tab-pane label="配置管理">配置管理</el-tab-pane>-->
        <!--<el-tab-pane label="角色管理">角色管理</el-tab-pane>-->
        <!--<el-tab-pane label="定时任务补偿">定时任务补偿</el-tab-pane>-->
    <!--</el-tabs>-->


    <div class="block">
        <span class="demonstration">月</span>
        <el-date-picker
                v-model="value2"
                type="month"
                placeholder="选择月">
        </el-date-picker>
    </div>

    <!--<div class="container">-->
        <!--<div class="block">-->
            <!--<span class="demonstration">周</span>-->
            <!--<el-date-picker-->
                    <!--v-model="value1"-->
                    <!--type="week"-->
                    <!--format="yyyy 第 WW 周"-->
                    <!--placeholder="选择周">-->
            <!--</el-date-picker>-->
        <!--</div>-->
        <!--<div class="block">-->
            <!--<span class="demonstration">月</span>-->
            <!--<el-date-picker-->
                    <!--v-model="value2"-->
                    <!--type="month"-->
                    <!--placeholder="选择月">-->
            <!--</el-date-picker>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="container">-->
        <!--<div class="block">-->
            <!--<span class="demonstration">年</span>-->
            <!--<el-date-picker-->
                    <!--v-model="value3"-->
                    <!--type="year"-->
                    <!--placeholder="选择年">-->
            <!--</el-date-picker>-->
        <!--</div>-->
        <!--<div class="block">-->
            <!--<span class="demonstration">多个日期</span>-->
            <!--<el-date-picker-->
                    <!--type="dates"-->
                    <!--v-model="value4"-->
                    <!--placeholder="选择一个或多个日期">-->
            <!--</el-date-picker>-->
        <!--</div>-->
    <!--</div>-->

</div>

<script>
    var vue = new Vue({
        el:"#app",
        data:{
            value2:''
        },
        methods:{
            
        },
        created:function () {

        }
    })
</script>
 
</body>
</html>